<h1>investments</h1>

<%= simple_form_for(@investment) do |f| %>
  <%= f.input :title %>
  <%= f.input :buy_price %>
  <%= f.input :quantity %>
  <%= f.input :buy_date %>
  <%= f.submit "Submit review", class: "btn btn-primary" %>
<% end %>
