<h1 class="text-white mt-5">Find some educational resources to understand your personal finance</h1>

<div class="row justify-content-center" >
  <div class="col-sm-8 my-3 d-flex flex-column">
    <%= form_with url: articles_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Type a keyword"
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
    <% end %>
    <button class="btn btn-primary align-self-end mt-2" id="aiicon"type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling"><i class="fa-solid fa-graduation-cap"></i></button>
  </div>
</div>

<div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
  <div class="offcanvas-header navbar-lewagon navbar-expand-sm">
    <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Financial Friend <i class="fa-solid fa-robot"></i></h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body color-frame overflow-auto custom-scroll" data-controller="open-ai">
    <input type="text" name="input" placeholder="How can I help?" data-open-ai-target="input">
    <input type="submit" data-action="click->open-ai#openAi" >
    <div data-open-ai-target="results" class="">
      <p class="text-white">Our FinAIncial advisor is here to assist 24/7.</p>
    </div>
  </div>
</div>


<div class="row">
  <% @articles.each_with_index do |article, index| %>
    <% photo_url = image_path "https://source.unsplash.com/random/?#{index},finance" %>
    <a href="<%=article.url%>" class="col-lg-4 col-md-6 col-12" target="_blank">
      <div class="flip-card mt-5">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <%= image_tag photo_url, style: "width: 100%; height: 55%" %>
            <div class="p-3 text-content mb-3">
              <h2><%= article.title %></h2>
              <p><strong><%= article.description %></strong></p>
            </div>
          </div>
          <div class="flip-card-back p-4 text-content">
            <h2><%= article.title %></h2>
            <p><%= article.description %></p>
          </div>
        </div>
      </div>
    </a>
  <% end %>
</div>
