<h1>Find some educational resources to understand your personal finance</h1>
<div>
<% @articles.each do |article| %>
  <div class="flip-card mt-5 row">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <div class="p-3 text-content mb-3">
          <h2><%= article.title %></h2>
          <p><strong><%= article.description %></strong></p>
        </div>
      </div>
      <div class="flip-card-back p-4 text-content">
        <h2><%= article.title %></h2>
        <a href=<strong><%=article.url%></strong>>External link</a>
        <p><%= article.description %></p>
      </div>
    </div>
  </div>
<% end %>
<div>

<%# <div class="container">
  <div class="card-container mt-5 row">
    <% @articles.each do |article| %>
      <%# <%= link_to(article_path(article), class: "col-lg-3 col-md-6 col-12") do %>
        <%# <%= render "/shared/article_card", article: article %>
