<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" id="navbarSupportedContent">
  <ul class="navbar-nav me-auto flex-sm-column">
    <li class="nav-item active">
      <%= link_to "User Summary", root_path, class: "nav-link btn btn-light btn-sm" %>
    </li>
    </li>
      <li class="nav-item">
      <%= link_to "My Savings", root_path, class: "nav-link btn btn-light btn-sm" %>
    </li>
    <li class="nav-item">
      <%= link_to "My Income", root_path, class: "nav-link btn btn-light btn-sm" %>
    </li>
      <li class="nav-item">
      <%= link_to "My Expenses", root_path, class: "nav-link btn btn-light btn-sm" %>
    </li>
    </li>
      <li class="nav-item">
      <%= link_to "My Debts", root_path, class: "nav-link btn btn-light btn-sm" %>
    </li>
    </li>
      <li class="nav-item">
      <%= link_to "My Investments", root_path, class: "nav-link btn btn-light btn-sm" %>
    </li>
    </li>
      <li class="nav-item">
      <%= link_to "My Goals", root_path, class: "nav-link btn btn-light btn-sm" %>
    </li>
  </ul>
</div>
