<h1 class="text-white my-5">
  <%= "#{action_name.titleize} #{controller_name.titleize.sub(/s\z/, '')}" %>
</h1>

<%= simple_form_for(@expense, html: { class: 'text-white ' }) do |f| %>
  <%= f.input :name, input_html: { class: 'form-control dark-form-input'} %>
  <%= f.input :input_amount, input_html: { class: 'form-control dark-form-input'}  %>
  <%= f.input :occurs_monthly, hint: 'Reoccurs monthly? Otherwise uncheck for annual/one off expenses.'  %>
  <% if @expense.id %>
    <%= f.submit "Update expense", class: "btn btn-primary" %>
  <% else %>
    <%= f.submit "Add expense", class: "btn btn-primary" %>
  <% end %>
<% end %>
