<%# <svg id="wave" style="background-color: #0A0E27; transform:rotate(0deg); transition: 0.3s" viewBox="0 0 1440 130" version="1.1" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(44, 50, 102, 1)" offset="0%"></stop><stop stop-color="rgba(44, 50, 102, 1)" offset="100%"></stop></linearGradient></defs><path style="transform:translate(0, 0px); opacity:1" fill="url(#sw-gradient-0)" d="M0,39L80,32.5C160,26,320,13,480,26C640,39,800,78,960,80.2C1120,82,1280,48,1440,30.3C1600,13,1760,13,1920,21.7C2080,30,2240,48,2400,52C2560,56,2720,48,2880,41.2C3040,35,3200,30,3360,32.5C3520,35,3680,43,3840,39C4000,35,4160,17,4320,21.7C4480,26,4640,52,4800,65C4960,78,5120,78,5280,82.3C5440,87,5600,95,5760,95.3C5920,95,6080,87,6240,75.8C6400,65,6560,52,6720,41.2C6880,30,7040,22,7200,21.7C7360,22,7520,30,7680,30.3C7840,30,8000,22,8160,19.5C8320,17,8480,22,8640,32.5C8800,43,8960,61,9120,69.3C9280,78,9440,78,9600,80.2C9760,82,9920,87,10080,88.8C10240,91,10400,91,10560,93.2C10720,95,10880,100,11040,101.8C11200,104,11360,104,11440,104L11520,104L11520,130L11440,130C11360,130,11200,130,11040,130C10880,130,10720,130,10560,130C10400,130,10240,130,10080,130C9920,130,9760,130,9600,130C9440,130,9280,130,9120,130C8960,130,8800,130,8640,130C8480,130,8320,130,8160,130C8000,130,7840,130,7680,130C7520,130,7360,130,7200,130C7040,130,6880,130,6720,130C6560,130,6400,130,6240,130C6080,130,5920,130,5760,130C5600,130,5440,130,5280,130C5120,130,4960,130,4800,130C4640,130,4480,130,4320,130C4160,130,4000,130,3840,130C3680,130,3520,130,3360,130C3200,130,3040,130,2880,130C2720,130,2560,130,2400,130C2240,130,2080,130,1920,130C1760,130,1600,130,1440,130C1280,130,1120,130,960,130C800,130,640,130,480,130C320,130,160,130,80,130L0,130Z"></path></svg> %>
<%# <svg id="wave" style="background-color: #0A0E27; transform:rotate(0deg); transition: 0.3s" viewBox="0 0 1440 170" version="1.1" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(44, 50, 102, 1)" offset="0%"></stop><stop stop-color="rgba(44, 50, 102, 1)" offset="100%"></stop></linearGradient></defs><path style="transform:translate(0, 1px); opacity:1" fill="url(#sw-gradient-0)" d="M0,51L80,42.5C160,34,320,17,480,34C640,51,800,102,960,104.8C1120,108,1280,62,1440,39.7C1600,17,1760,17,1920,28.3C2080,40,2240,62,2400,68C2560,74,2720,62,2880,53.8C3040,45,3200,40,3360,42.5C3520,45,3680,57,3840,51C4000,45,4160,23,4320,28.3C4480,34,4640,68,4800,85C4960,102,5120,102,5280,107.7C5440,113,5600,125,5760,124.7C5920,125,6080,113,6240,99.2C6400,85,6560,68,6720,53.8C6880,40,7040,28,7200,28.3C7360,28,7520,40,7680,39.7C7840,40,8000,28,8160,25.5C8320,23,8480,28,8640,42.5C8800,57,8960,79,9120,90.7C9280,102,9440,102,9600,104.8C9760,108,9920,113,10080,116.2C10240,119,10400,119,10560,121.8C10720,125,10880,130,11040,133.2C11200,136,11360,136,11440,136L11520,136L11520,170L11440,170C11360,170,11200,170,11040,170C10880,170,10720,170,10560,170C10400,170,10240,170,10080,170C9920,170,9760,170,9600,170C9440,170,9280,170,9120,170C8960,170,8800,170,8640,170C8480,170,8320,170,8160,170C8000,170,7840,170,7680,170C7520,170,7360,170,7200,170C7040,170,6880,170,6720,170C6560,170,6400,170,6240,170C6080,170,5920,170,5760,170C5600,170,5440,170,5280,170C5120,170,4960,170,4800,170C4640,170,4480,170,4320,170C4160,170,4000,170,3840,170C3680,170,3520,170,3360,170C3200,170,3040,170,2880,170C2720,170,2560,170,2400,170C2240,170,2080,170,1920,170C1760,170,1600,170,1440,170C1280,170,1120,170,960,170C800,170,640,170,480,170C320,170,160,170,80,170L0,170Z"></path></svg> %>
<%# <svg id="wave" style="background-color: #0A0E27; transform:rotate(0deg); transition: 0.3s" viewBox="0 0 1440 170" version="1.1" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(44, 50, 102, 1)" offset="0%"></stop><stop stop-color="rgba(44, 50, 102, 1)" offset="100%"></stop></linearGradient></defs><path style="transform:translate(0, 1px); opacity:1" fill="url(#sw-gradient-0)" d="M0,34L80,53.8C160,74,320,113,480,110.5C640,108,800,62,960,48.2C1120,34,1280,51,1440,68C1600,85,1760,102,1920,116.2C2080,130,2240,142,2400,136C2560,130,2720,108,2880,93.5C3040,79,3200,74,3360,73.7C3520,74,3680,79,3840,76.5C4000,74,4160,62,4320,68C4480,74,4640,96,4800,113.3C4960,130,5120,142,5280,144.5C5440,147,5600,142,5760,141.7C5920,142,6080,147,6240,127.5C6400,108,6560,62,6720,62.3C6880,62,7040,108,7200,130.3C7360,153,7520,153,7680,141.7C7840,130,8000,108,8160,82.2C8320,57,8480,28,8640,31.2C8800,34,8960,68,9120,73.7C9280,79,9440,57,9600,39.7C9760,23,9920,11,10080,25.5C10240,40,10400,79,10560,99.2C10720,119,10880,119,11040,110.5C11200,102,11360,85,11440,76.5L11520,68L11520,170L11440,170C11360,170,11200,170,11040,170C10880,170,10720,170,10560,170C10400,170,10240,170,10080,170C9920,170,9760,170,9600,170C9440,170,9280,170,9120,170C8960,170,8800,170,8640,170C8480,170,8320,170,8160,170C8000,170,7840,170,7680,170C7520,170,7360,170,7200,170C7040,170,6880,170,6720,170C6560,170,6400,170,6240,170C6080,170,5920,170,5760,170C5600,170,5440,170,5280,170C5120,170,4960,170,4800,170C4640,170,4480,170,4320,170C4160,170,4000,170,3840,170C3680,170,3520,170,3360,170C3200,170,3040,170,2880,170C2720,170,2560,170,2400,170C2240,170,2080,170,1920,170C1760,170,1600,170,1440,170C1280,170,1120,170,960,170C800,170,640,170,480,170C320,170,160,170,80,170L0,170Z"></path></svg> %>
<%# <svg id="wave" style="background-color: #0A0E27; transform:rotate(0deg); transition: 0.3s" viewBox="0 0 1440 130" version="1.1" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(44, 50, 102, 1)" offset="0%"></stop><stop stop-color="rgba(44, 50, 102, 1)" offset="100%"></stop></linearGradient></defs><path style="transform:translate(0, 1px); opacity:1" fill="url(#sw-gradient-0)" d="M0,52L80,45.5C160,39,320,26,480,36.8C640,48,800,82,960,88.8C1120,95,1280,74,1440,56.3C1600,39,1760,26,1920,36.8C2080,48,2240,82,2400,93.2C2560,104,2720,91,2880,88.8C3040,87,3200,95,3360,88.8C3520,82,3680,61,3840,43.3C4000,26,4160,13,4320,13C4480,13,4640,26,4800,43.3C4960,61,5120,82,5280,84.5C5440,87,5600,69,5760,69.3C5920,69,6080,87,6240,97.5C6400,108,6560,113,6720,108.3C6880,104,7040,91,7200,80.2C7360,69,7520,61,7680,65C7840,69,8000,87,8160,93.2C8320,100,8480,95,8640,86.7C8800,78,8960,65,9120,67.2C9280,69,9440,87,9600,84.5C9760,82,9920,61,10080,54.2C10240,48,10400,56,10560,54.2C10720,52,10880,39,11040,34.7C11200,30,11360,35,11440,36.8L11520,39L11520,130L11440,130C11360,130,11200,130,11040,130C10880,130,10720,130,10560,130C10400,130,10240,130,10080,130C9920,130,9760,130,9600,130C9440,130,9280,130,9120,130C8960,130,8800,130,8640,130C8480,130,8320,130,8160,130C8000,130,7840,130,7680,130C7520,130,7360,130,7200,130C7040,130,6880,130,6720,130C6560,130,6400,130,6240,130C6080,130,5920,130,5760,130C5600,130,5440,130,5280,130C5120,130,4960,130,4800,130C4640,130,4480,130,4320,130C4160,130,4000,130,3840,130C3680,130,3520,130,3360,130C3200,130,3040,130,2880,130C2720,130,2560,130,2400,130C2240,130,2080,130,1920,130C1760,130,1600,130,1440,130C1280,130,1120,130,960,130C800,130,640,130,480,130C320,130,160,130,80,130L0,130Z"></path></svg> %>
<%# <svg id="wave" style="background-color: #0A0E27 ;transform:rotate(0deg); transition: 0.3s" viewBox="0 0 1440 120" version="1.1" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(44, 50, 102, 1)" offset="0%"></stop><stop stop-color="rgba(44, 50, 102, 1)" offset="100%"></stop></linearGradient></defs><path style="transform:translate(0, 1px); opacity:1" fill="url(#sw-gradient-0)" d="M0,96L40,82C80,68,160,40,240,32C320,24,400,36,480,50C560,64,640,80,720,90C800,100,880,104,960,94C1040,84,1120,60,1200,50C1280,40,1360,44,1440,42C1520,40,1600,32,1680,38C1760,44,1840,64,1920,76C2000,88,2080,92,2160,80C2240,68,2320,40,2400,40C2480,40,2560,68,2640,80C2720,92,2800,88,2880,76C2960,64,3040,44,3120,48C3200,52,3280,80,3360,88C3440,96,3520,84,3600,66C3680,48,3760,24,3840,20C3920,16,4000,32,4080,46C4160,60,4240,72,4320,70C4400,68,4480,52,4560,44C4640,36,4720,36,4800,46C4880,56,4960,76,5040,78C5120,80,5200,64,5280,58C5360,52,5440,56,5520,54C5600,52,5680,44,5720,40L5760,36L5760,120L5720,120C5680,120,5600,120,5520,120C5440,120,5360,120,5280,120C5200,120,5120,120,5040,120C4960,120,4880,120,4800,120C4720,120,4640,120,4560,120C4480,120,4400,120,4320,120C4240,120,4160,120,4080,120C4000,120,3920,120,3840,120C3760,120,3680,120,3600,120C3520,120,3440,120,3360,120C3280,120,3200,120,3120,120C3040,120,2960,120,2880,120C2800,120,2720,120,2640,120C2560,120,2480,120,2400,120C2320,120,2240,120,2160,120C2080,120,2000,120,1920,120C1840,120,1760,120,1680,120C1600,120,1520,120,1440,120C1360,120,1280,120,1200,120C1120,120,1040,120,960,120C880,120,800,120,720,120C640,120,560,120,480,120C400,120,320,120,240,120C160,120,80,120,40,120L0,120Z"></path></svg> %>
<svg id="wave" style="background-color: #0A0E27 ;transform:rotate(0deg); transition: 0.3s; z-index: -1;" viewBox="0 0 1440 140" version="1.1" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient id="sw-gradient-1" x1="0" x2="0" y1="1" y2="0"><stop stop-color="#2C3266" offset="0%"></stop><stop stop-color="#2C3266" offset="100%"></stop></linearGradient></defs><path style="transform:translate(0, 2px); opacity:1" fill="url(#sw-gradient-1)" d="M0,70L48,58.3C96,47,192,23,288,11.7C384,0,480,0,576,14C672,28,768,56,864,77C960,98,1056,112,1152,107.3C1248,103,1344,79,1440,67.7C1536,56,1632,56,1728,58.3C1824,61,1920,65,2016,65.3C2112,65,2208,61,2304,60.7C2400,61,2496,65,2592,67.7C2688,70,2784,70,2880,74.7C2976,79,3072,89,3168,81.7C3264,75,3360,51,3456,44.3C3552,37,3648,47,3744,53.7C3840,61,3936,65,4032,63C4128,61,4224,51,4320,60.7C4416,70,4512,98,4608,107.3C4704,117,4800,107,4896,98C4992,89,5088,79,5184,72.3C5280,65,5376,61,5472,67.7C5568,75,5664,93,5760,95.7C5856,98,5952,84,6048,79.3C6144,75,6240,79,6336,88.7C6432,98,6528,112,6624,116.7C6720,121,6816,117,6864,114.3L6912,112L6912,140L6864,140C6816,140,6720,140,6624,140C6528,140,6432,140,6336,140C6240,140,6144,140,6048,140C5952,140,5856,140,5760,140C5664,140,5568,140,5472,140C5376,140,5280,140,5184,140C5088,140,4992,140,4896,140C4800,140,4704,140,4608,140C4512,140,4416,140,4320,140C4224,140,4128,140,4032,140C3936,140,3840,140,3744,140C3648,140,3552,140,3456,140C3360,140,3264,140,3168,140C3072,140,2976,140,2880,140C2784,140,2688,140,2592,140C2496,140,2400,140,2304,140C2208,140,2112,140,2016,140C1920,140,1824,140,1728,140C1632,140,1536,140,1440,140C1344,140,1248,140,1152,140C1056,140,960,140,864,140C768,140,672,140,576,140C480,140,384,140,288,140C192,140,96,140,48,140L0,140Z"></path></svg>
<div class="footer">
  <div class="mb-4">
    <div class="
    d-flex flex-column justify-content-center
    justify-content-md-between flex-md-row
    ">
      <div class="footer-links pages mx-auto mx-md-0">
        <ul class="d-flex justify-content-center flex-wrap">
          <li class="">
            <%= link_to "Home", root_path, class: "ps-0 nav-link text-reset" %>
          </li>
          <li class="">
            <%= link_to "About Us", about_us_path, class: "nav-link text-reset" %>
          </li>
          <li class="">
            <%= link_to "Learn", articles_path, class: "nav-link text-reset" %>
          </li>
          <li class="">
            <%= link_to "Dashboard", dashboard_path, class: "nav-link text-reset" %>
          </li>
        </ul>
      </div>
      <div class="footer-links socials mx-auto mx-md-0">
        <ul class="d-flex justify-content-center flex-wrap">
          <li class="">
            <%= link_to "#", class: "nav-link text-reset" do %>
              <i class="fa-brands fa-meta"></i>
            <% end %>
          </li>
          <li class="">
            <%= link_to "#", class: "nav-link text-reset" do %>
              <i class="fa-brands fa-x-twitter"></i>
            <% end %>
          </li>
          <li class="">
            <%= link_to "#", class: "nav-link text-reset" do %>
              <i class="fa-brands fa-instagram"></i>
            <% end %>
          </li>
          <li class="">
            <%= link_to "#", class: "nav-link text-reset" do %>
              <i class="fa-brands fa-tiktok"></i>
            <% end %>
          </li>
          <li class="">
            <%= link_to "https://github.com/zzdevzz/clearmoney", class: "nav-link text-reset pe-0" do %>
              <i class="fa-brands fa-github"></i>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
    <div class=" d-flex flex-column align-items-center
    justify-content-lg-between flex-lg-row text-muted px-lg-0">
      <p class="mb-0" >Disclaimer: This tool does not constitute financial advice.</p>
      <p class="mb-0" >© Copyright ClearMoney 2024. All rights reserved.</p>
    </div>
  </div>
</div>
