<svg id="wave" style="background-color: #0A0E27 ;transform:rotate(0deg); transition: 0.3s; z-index: -1;" viewBox="0 0 1440 140" version="1.1" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient id="sw-gradient-1" x1="0" x2="0" y1="1" y2="0"><stop stop-color="#2C3266" offset="0%"></stop><stop stop-color="#2C3266" offset="100%"></stop></linearGradient></defs><path style="transform:translate(0, 2px); opacity:1" fill="url(#sw-gradient-1)" d="M0,70L48,58.3C96,47,192,23,288,11.7C384,0,480,0,576,14C672,28,768,56,864,77C960,98,1056,112,1152,107.3C1248,103,1344,79,1440,67.7C1536,56,1632,56,1728,58.3C1824,61,1920,65,2016,65.3C2112,65,2208,61,2304,60.7C2400,61,2496,65,2592,67.7C2688,70,2784,70,2880,74.7C2976,79,3072,89,3168,81.7C3264,75,3360,51,3456,44.3C3552,37,3648,47,3744,53.7C3840,61,3936,65,4032,63C4128,61,4224,51,4320,60.7C4416,70,4512,98,4608,107.3C4704,117,4800,107,4896,98C4992,89,5088,79,5184,72.3C5280,65,5376,61,5472,67.7C5568,75,5664,93,5760,95.7C5856,98,5952,84,6048,79.3C6144,75,6240,79,6336,88.7C6432,98,6528,112,6624,116.7C6720,121,6816,117,6864,114.3L6912,112L6912,140L6864,140C6816,140,6720,140,6624,140C6528,140,6432,140,6336,140C6240,140,6144,140,6048,140C5952,140,5856,140,5760,140C5664,140,5568,140,5472,140C5376,140,5280,140,5184,140C5088,140,4992,140,4896,140C4800,140,4704,140,4608,140C4512,140,4416,140,4320,140C4224,140,4128,140,4032,140C3936,140,3840,140,3744,140C3648,140,3552,140,3456,140C3360,140,3264,140,3168,140C3072,140,2976,140,2880,140C2784,140,2688,140,2592,140C2496,140,2400,140,2304,140C2208,140,2112,140,2016,140C1920,140,1824,140,1728,140C1632,140,1536,140,1440,140C1344,140,1248,140,1152,140C1056,140,960,140,864,140C768,140,672,140,576,140C480,140,384,140,288,140C192,140,96,140,48,140L0,140Z"></path></svg>
<div class="footer">
  <div class="mb-4 w-100">
    <div class="
    d-flex flex-column justify-content-center
    justify-content-md-between flex-md-row
    ">
      <div class="footer-links pages mx-auto mx-md-0">
        <ul class="d-flex justify-content-center flex-wrap">
          <li class="">
            <%= link_to "Home", root_path, class: "ps-0 nav-link text-reset" %>
          </li>
          <li class="">
            <%= link_to "About Us", about_us_path, class: "nav-link text-reset" %>
          </li>
          <li class="">
            <%= link_to "Learn", articles_path, class: "nav-link text-reset" %>
          </li>
          <li class="">
            <%= link_to "Dashboard", dashboard_path, class: "nav-link text-reset" %>
          </li>
        </ul>
      </div>
      <div class="footer-links socials mx-auto mx-md-0">
        <ul class="d-flex justify-content-center flex-wrap">
          <li class="">
            <%= link_to "#", class: "nav-link text-reset" do %>
              <i class="fa-brands fa-meta"></i>
            <% end %>
          </li>
          <li class="">
            <%= link_to "#", class: "nav-link text-reset" do %>
              <i class="fa-brands fa-x-twitter"></i>
            <% end %>
          </li>
          <li class="">
            <%= link_to "#", class: "nav-link text-reset" do %>
              <i class="fa-brands fa-instagram"></i>
            <% end %>
          </li>
          <li class="">
            <%= link_to "#", class: "nav-link text-reset" do %>
              <i class="fa-brands fa-tiktok"></i>
            <% end %>
          </li>
          <li class="">
            <%= link_to "https://github.com/zzdevzz/clearmoney", class: "nav-link text-reset pe-0" do %>
              <i class="fa-brands fa-github"></i>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
    <div class=" d-flex flex-column align-items-center
    justify-content-lg-between flex-lg-row text-muted px-lg-0 footer-text w-100">
      <p class="mb-0" >Disclaimer: This tool does not constitute financial advice.</p>
      <p class="mb-0" >© Copyright ClearMoney 2024. All rights reserved.</p>
    </div>
  </div>
</div>
