<turbo-frame id="content">
  <div class="row" style="gap:.5rem;">
    <div class="col-9">
      <div class="transparent-card p-4 h-100">
        <div class="d-flex justify-content-between">
          <div>
            <h3> <%=attribute.name %> Breakdown </h3>
            <h4> Total: <%= number_to_currency(attribute.sum(&:amount) , unit: "£") %></h4>
          </div>
          <% if controller_name == "incomes" %>
            <label class="switch align-self-center">
              <input type="checkbox">
              <span class="slider round"></span>
            </label>
          <% end %>
        </div>
        <div class="d-flex justify-content-center align-items-center flex-grow-1"> <!-- Flex container for centering the chart -->
          <%= pie_chart attribute.group("name").sum("amount"), donut: true, legend: "left", dataset: {borderWidth: 0}%>

        </div>
      </div>
    </div>
    <div class="card-container row g-3 p-3 col mt-0 vh-100 transparent-card d-block overflow-auto">
      <h3> Sources </h3>
      <% attribute.each do |item| %>
        <%= link_to url_for(controller: controller_path, action: 'show', id: item), class: "col-12 text-decoration-none", data: { turbo: false } do %>
          <%= render "/shared/card", item: item %>
        <% end %>
      <% end %>
      <%= link_to "Add new", url_for(controller: controller_path, action: 'new'), class: "btn btn-warning", data: { turbo: false } %>
    </div>
  </div>
</turbo-frame>
