<turbo-frame id="content">
  <div class="row" style="gap:.5rem;">
    <div class="col-9">
      <div class="transparent-card p-4 h-100">
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <h3> <%=attribute.name %> Breakdown </h3>
            <h4> Total: <%= number_to_currency(attribute.sum(&:amount) , unit: "£") %></h4>
          </div>
        </div>
        <div class="d-flex justify-content-center align-items-center flex-grow-1 flex-column"> <!-- Flex container for centering the chart -->
          <%# <div class="h-100"> %>
            <%= pie_chart attribute.group("name").sum("amount"),
            donut: true, legend: "left", dataset: {borderWidth: 1},
            height: controller_name == "incomes" ? "150px" : "300px",
            library: chart_library_donut_config %>
          <%# </div> %>
          <% if controller_name == "incomes" %>
            <%# <div class="h-100"> %>
              <%= pie_chart @breakdown,
              height: "150px",
              donut: true, legend: "right", dataset: {borderWidth: 1},
              round: 0,
              library: chart_library_donut_config %>
            <%# </div> %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="card-container row g-3 p-3 col mt-0 vh-100 transparent-card d-block overflow-auto">
      <h3> Sources </h3>
      <% attribute.each do |item| %>
        <%= link_to url_for(controller: controller_path, action: 'show', id: item), class: "col-12 text-decoration-none", data: { turbo: false } do %>
          <%= render "/shared/card", item: item %>
        <% end %>
      <% end %>
      <%= link_to "Add new", url_for(controller: controller_path, action: 'new'), class: "col-12 btn btn-warning ", data: { turbo: false } %>
    </div>
  </div>
</turbo-frame>
