<% yearly = {} %>
<% fixed = {} %>

<% @fixed.each do |attribute| %>
  <% fixed[attribute.name] = attribute.sum(:amount) %>
<% end %>

<% @yearly.each do |attribute| %>
  <% yearly[attribute.name] = attribute.sum(:amount) %>
<% end %>

<% greencolour = "rgba(75, 192, 192, 0.75)" %>
<% redcolour = "rgba(255, 99, 132, 0.75)" %>

<turbo-frame id="content">
  <div class="row" style="gap:.5rem;">
    <div class="col-9">
      <div class="transparent-card p-4 h-100">
        <h3> <%=@user.username.titleize %> Breakdown </h3>
        <h4> Total: <%= number_to_currency(fixed.values.sum , unit: "£") %></h4>
        <%= column_chart yearly, title: "Annual Overview", height: "200px", prefix: "£", colors: [greencolour, redcolour], library: chart_library_bar_config %>
        <%= column_chart fixed, title: "Financial Overview", height: "150px", prefix: "£", colors: [greencolour, redcolour, greencolour, greencolour], library: chart_library_bar_config%>
      </div>
    </div>
    <div class="transparent-card card-container row g-3 w-25 p-3 vh-100 col mt-0 d-block overflow-auto">
      <h3> Sources </h3>
      <% @item.each do |item| %>
        <%= link_to "", class: "col-12 text-decoration-none", data: { turbo: false } do %>
          <%= render "/shared/card", item: item %>
        <% end %>
      <% end %>
    </div>
  </div>
</turbo-frame>
