
  <%# <video autoplay muted loop>
    <source src="/app/assets/images/accounting-video.mp4" type="video/mp4">
  </video> %>
<section class="landing">
  <%= video_tag asset_path("accounting-video.mp4"), autoplay: true, loop: true, muted: true, class: "video" %>
  <div class="navbar-start d-flex align-items-center ms-5 my-3">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo.png", size: "75x75" %>
    <% end %>
    <h1 class="fw-bold d-inline-block text-white mb-0">ClearMoney</h1>
  </div>
  <div class="content credit-card ml-5 p-5">
    <h2 class="text-uppercase fw-light fs-5">Managing Money just got easier.</h2>
    <h3 class="text-capitalize fw-bold strip fs-4">Ready to learn about your money? </h3>
    <p>“You can’t improve what you don’t measure”.
        No need to be a whiz kid with the numbers. We make it easy for you to understand your money. Everything is visualized so you can see your money. clearly. </p>
    <%= link_to "Get Started", dashboard_path, class: "btn btn-warning" %>
  </div>
</section>
<section class="content-info bg-light">
  <div class="w-100 container min-vh-100 d-flex align-items-center" >
    <div class=" w-100 container">
      <h2 class="text-center fs-1 fw-bold mb-5 color-purple"> What we believe in</h2>
      <div class="d-flex justify-content-between mt-5">
        <div class="item">
          <h4>Simplicity</h4>
          <i class="fa-regular fa-lightbulb"></i>
          <p>Your finances should be straightforward and stress-free.</p>
        </div>
        <div class="item">
          <h4>Embracing Knowledge</h4>
          <i class="fa-solid fa-graduation-cap"></i>
          <p>Understanding your finances is the first step to growing them.</p>
        </div>
        <div class="item">
          <h4>Personalisation</h4>
          <i class="fa-regular fa-user"></i>
          <p>Every financial journey is unique.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<svg class="bg-light" id="wave" style="transform:rotate(0deg); transition: 0.3s" viewBox="0 0 1440 240" version="1.1" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(0, 89, 127, 1)" offset="0%"></stop><stop stop-color="rgba(0, 89, 127, 0.67)" offset="100%"></stop></linearGradient></defs><path style="transform:translate(0, 1px); opacity:1" fill="url(#sw-gradient-0)" d="M0,96L34.3,112C68.6,128,137,160,206,160C274.3,160,343,128,411,100C480,72,549,48,617,56C685.7,64,754,104,823,132C891.4,160,960,176,1029,164C1097.1,152,1166,112,1234,96C1302.9,80,1371,88,1440,108C1508.6,128,1577,160,1646,164C1714.3,168,1783,144,1851,148C1920,152,1989,184,2057,188C2125.7,192,2194,168,2263,168C2331.4,168,2400,192,2469,180C2537.1,168,2606,120,2674,84C2742.9,48,2811,24,2880,16C2948.6,8,3017,16,3086,36C3154.3,56,3223,88,3291,96C3360,104,3429,88,3497,68C3565.7,48,3634,24,3703,28C3771.4,32,3840,64,3909,96C3977.1,128,4046,160,4114,156C4182.9,152,4251,112,4320,116C4388.6,120,4457,168,4526,188C4594.3,208,4663,200,4731,172C4800,144,4869,96,4903,72L4937.1,48L4937.1,240L4902.9,240C4868.6,240,4800,240,4731,240C4662.9,240,4594,240,4526,240C4457.1,240,4389,240,4320,240C4251.4,240,4183,240,4114,240C4045.7,240,3977,240,3909,240C3840,240,3771,240,3703,240C3634.3,240,3566,240,3497,240C3428.6,240,3360,240,3291,240C3222.9,240,3154,240,3086,240C3017.1,240,2949,240,2880,240C2811.4,240,2743,240,2674,240C2605.7,240,2537,240,2469,240C2400,240,2331,240,2263,240C2194.3,240,2126,240,2057,240C1988.6,240,1920,240,1851,240C1782.9,240,1714,240,1646,240C1577.1,240,1509,240,1440,240C1371.4,240,1303,240,1234,240C1165.7,240,1097,240,1029,240C960,240,891,240,823,240C754.3,240,686,240,617,240C548.6,240,480,240,411,240C342.9,240,274,240,206,240C137.1,240,69,240,34,240L0,240Z"></path></svg>
<section class="min-vh-100 d-flex align-items-center gradient-under light-mode">
  <div class="w-100 container">
    <h3 class="text-center fs-1 fw-bold mb-5">Try it yourself.</h3>
    <div class="d-flex justify-content-around align-items-center">
      <div class="slidecontainer d-flex flex-column w-50" data-controller="slider">
        <h4 class="fs-5">See how your income is broken down annually!</h4>
        <input type="range" min="10000" max="150000" value="30000" step="500" class="slider" id="myRange1" data-action="input->slider#updateChart" data-slider-target="input1">
        <div class="d-flex justify-content-between">
          <p>£10,000</p>
          <p data-slider-target="textinput">50</p>
          <p>£150,000</p>
        </div>
      </div>
      <div id="myChart"></div>
    </div>
    <%= link_to "Start Understanding Your Money!", dashboard_path,
    class: "btn btn-warning d-grid gap-2 mt-5 col-3 mx-auto" %>
  </div>
</section>
<svg id="wave" class="gradient-under" style="background-color: #051D35;transform:rotate(0deg); transition: 0.3s" viewBox="0 0 1440 140" version="1.1" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient id="sw-gradient-1" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(36, 121, 224, 1)" offset="0%"></stop><stop stop-color="rgba(36, 121, 224, 1)" offset="100%"></stop></linearGradient></defs><path style="transform:translate(0, 0px); opacity:1" fill="url(#sw-gradient-1)" d="M0,70L48,58.3C96,47,192,23,288,11.7C384,0,480,0,576,14C672,28,768,56,864,77C960,98,1056,112,1152,107.3C1248,103,1344,79,1440,67.7C1536,56,1632,56,1728,58.3C1824,61,1920,65,2016,65.3C2112,65,2208,61,2304,60.7C2400,61,2496,65,2592,67.7C2688,70,2784,70,2880,74.7C2976,79,3072,89,3168,81.7C3264,75,3360,51,3456,44.3C3552,37,3648,47,3744,53.7C3840,61,3936,65,4032,63C4128,61,4224,51,4320,60.7C4416,70,4512,98,4608,107.3C4704,117,4800,107,4896,98C4992,89,5088,79,5184,72.3C5280,65,5376,61,5472,67.7C5568,75,5664,93,5760,95.7C5856,98,5952,84,6048,79.3C6144,75,6240,79,6336,88.7C6432,98,6528,112,6624,116.7C6720,121,6816,117,6864,114.3L6912,112L6912,140L6864,140C6816,140,6720,140,6624,140C6528,140,6432,140,6336,140C6240,140,6144,140,6048,140C5952,140,5856,140,5760,140C5664,140,5568,140,5472,140C5376,140,5280,140,5184,140C5088,140,4992,140,4896,140C4800,140,4704,140,4608,140C4512,140,4416,140,4320,140C4224,140,4128,140,4032,140C3936,140,3840,140,3744,140C3648,140,3552,140,3456,140C3360,140,3264,140,3168,140C3072,140,2976,140,2880,140C2784,140,2688,140,2592,140C2496,140,2400,140,2304,140C2208,140,2112,140,2016,140C1920,140,1824,140,1728,140C1632,140,1536,140,1440,140C1344,140,1248,140,1152,140C1056,140,960,140,864,140C768,140,672,140,576,140C480,140,384,140,288,140C192,140,96,140,48,140L0,140Z"></path></svg>
<%= render "shared/footer" %>
