
  <%# <video autoplay muted loop>
    <source src="/app/assets/images/accounting-video.mp4" type="video/mp4">
  </video> %>
<section class="landing">
  <%= video_tag asset_path("accounting-video.mp4"), autoplay: true, loop: true, muted: true, class: "video" %>
  <div class="navbar-start d-flex align-items-center ms-5 my-3">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo.png", size: "75x75" %>
    <% end %>
    <h1 class="fw-bold d-inline-block text-white mb-0">ClearMoney</h1>
  </div>
  <div class="content ml-5 p-5">
    <h2 class="text-uppercase fw-light fs-4">Managing Money just got easier.</h2>
    <h3 class="text-capitalize fw-bold strip">Ready to learn about your money? </h3>
    <p>“You can’t improve what you don’t measure”.
        We make it easy for you to understand how your money is broken down. no need to be a whiz kid with the numbers. everything is visualized so its easy for you to understand, your money. clearly. </p>
    <%= link_to "Get Started", dashboard_path, class: "btn btn-warning" %>
  </div>
</section>
<section class="content-info min-vh-100 container d-flex align-items-center">
  <div class="w-100">
    <h2 class="text-center fs-1 fw-bold mb-5">What we believe in</h2>
    <div class="d-flex justify-content-between mt-5">
      <div class="item">
        <h4>Simplicity</h4>
        <i class="fa-regular fa-lightbulb"></i>
        <p>Your finances should be straightforward and stress-free.</p>
      </div>
      <div class="item">
        <h4>Embracing Knowledge</h4>
        <i class="fa-solid fa-graduation-cap"></i>
        <p>Understanding your finances is the first step to growing them.</p>
      </div>
      <div class="item">
        <h4>Personalisation</h4>
        <i class="fa-regular fa-user"></i>
        <p>Every financial journey is unique.</p>
      </div>
    </div>
  </div>
</section>
<section class="min-vh-100 container bg-light d-flex align-items-center">
  <div class="w-100">
    <h4 class="text-center fs-1 fw-bold mb-5">Try it yourself.</h4>
    <div class="d-flex justify-content-around align-items-center">
      <div class="slidecontainer d-flex flex-column w-50" data-controller="slider">
        <input type="range" min="1" max="100" value="50" class="slider" id="myRange1" data-action="input->slider#updateChart" data-slider-target="input1">
        <input type="range" min="1" max="100" value="50" class="slider" id="myRange2" data-action="input->slider#updateChart" data-slider-target="input2">
        <input type="range" min="1" max="100" value="50" class="slider" id="myRange3" data-action="input->slider#updateChart" data-slider-target="input3">
      </div>
      <div id="myChart"></div>
    </div>
    <%= link_to "Start Understanding Your Money!", dashboard_path,
    class: "btn btn-warning d-grid gap-2 mt-5 col-3 mx-auto" %>
  </div>
</section>

<%# <section class="min-vh-100 container bg-light">
  <h4>Chart Test 02</h4>
  <div data-controller="slider">
    <div id="myChart" data-slider-target="chart"></div>
  </div>
</section> %>
