<h1>goals for user</h1>

<%= simple_form_for(@goal) do |f| %>
  <%= f.input :title %>
  <%= f.input :amount %>
  <%= f.input :notes %>
  <%= f.input :date_by %>
  <%= f.submit "Submit review", class: "btn btn-primary" %>
<% end %>
