<h1>goals</h1>

<%= simple_form_for(@goal, html: { class: 'text-white' }) do |f| %>
  <%= f.input :name %>
  <%= f.input :amount %>
  <%= f.input :notes %>
  <%= f.input :date_by %>
  <%= f.submit "Submit review", class: "btn btn-primary" %>
<% end %>
